<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aktywacja Konta</title>
</head>
<body style="font-family: Arial, sans-serif;">

<div style="max-width: 600px; margin: 20px auto; padding: 20px; border: 1px solid #ddd; border-radius: 10px; background-color: #f9f9f9;">

    <h2 style="color: #333;">Aktywacja Konta</h2>

    <p>Witaj w naszej aplikacji! Aby aktywować konto, proszę kliknąć poniższy przycisk:</p>

    <a href="{url}" style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #fff; text-decoration: none; border-radius: 5px;">Aktywuj Konto</a>

    <p style="margin-top: 20px;">Jeśli nie prosiłeś o aktywację, możesz zignorować tę wiadomość.</p>

    <p>Z poważaniem,<br>Zespół Knowledge Test Application</p>

</div>

</body>
</html>
